<section id="admin" class="page {% if page=='admin' %}active{% endif %}">
  {% include "partials/module_exit.html" %}
  {% include "partials/admin_tabs.html" %}
  {% include "partials/admin_tab_articulos.html" %}
  {% include "partials/admin_tab_proveedores.html" %}
  {% include "partials/admin_tab_precios.html" %}
  {% include "partials/admin_tab_centros.html" %}
  {% include "partials/admin_tab_users.html" %}
  {% include "partials/admin_tab_ia.html" %}
  {% include "partials/admin_tab_modificadores_tpv.html" %}
</section>
